body
{
    background-color: pink;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3
{
    font-size: 10px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px red;
}

.note
{
    color: aliceblue;
    font-size: 15px;
}

.div_footer
{
    position: fixed;
    background-color: white;
    color: black;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    text-align: center;
}

canvas
{
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px wheat;
    border: 5px solid whitesmoke;
    border-radius: 10px;
}
